<!DOCTYPE html>
<html lang="en">
  <% include head %>
  <body>
    <% var active = "" %>
    <% include nav %>
    <!-- Tab views -->
    <div class="tab-view">
      <div id="home">
      </div>
    </div>
    <% include footer %>
    <% include script %>
  </body>
</html>
